<!DOCTYPE html>
<html lang="en">
{% include 'beforeHead.html' %}
<head>
    <meta charset="UTF-8">
    <title>{{title}} | HShiDianLu's Website</title>
    {% include 'topper.html' %}
</head>
<body>
{% include 'scripts.html' %}
<script>
    $(window).on('load', function () {
        swal({
            title: "{{alertTitle|safe}}",
            text: "{{alertText|safe}}",
            icon: "{{alertIcon}}",
            buttons: {% if not noButton %}{btn: "{% if reload %}刷新{% elif not buttonText %}返回{% endif %}"}{% else %}false{% endif %},
            closeOnClickOutside: false,
        }).then((result) => {
            {% if href %}window.location.href = "{{href}}"{% elif reload %}location.reload(true){% else %}window.history.go(-1){% endif %};
        });
    });
</script>
</body>
</html>