<br/>
<div id="footer" class="block">
    <div class="split-line" id="footer-line"></div>
    <p id="copyright">Copyright © 2024-2025 HShiDianLu. All Rights Reserved.</p>
    <p id="copyright-down"><a class="simple-link" href="https://stats.uptimerobot.com/yGZVrC6mVJ"
                              target="_blank">状态</a> | <a class="simple-link"
                                                            href="javascript:hrefTo('/hitokoto');">一言</a> | <a
            class="simple-link" href="javascript:hrefTo('/status');">睡似了吗？</a> | Server
        Build - {{buildHash}}</p>
</div>
<br/>
<div id="back-to-top">
    <button id="back-btn" onclick="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-up"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
    </button>
</div>
<div id="login">
    <a id="login-bg" href="javascript:close();"></a>
    <div id="login-window">
        <img id="login-img" class="fadeImg">
        <p id="recaptcha-text">由 reCAPTCHA 提供保护 | <a href="https://policies.google.cn/privacy?hl=zh-CN&gl=cn"
                                                          target="_blank" class="recaptcha-link">隐私权</a> · <a
                href="https://policies.google.cn/terms?hl=zh-CN&gl=cn" target="_blank"
                class="recaptcha-link">使用条款</a></p>
        <div id="login-box">
            <a id="login-close" href="javascript:close();">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/>
                </svg>
            </a>
            <h3>登录 <small>Login</small></h3>
            <br/>
            <div id="login-form">
                <div class="input-outer">
                    <div class="input-data common">
                        <input type="text" id="input1" required>
                        <div class="input-underline"></div>
                        <label id="input1-label">用户名 / 邮箱</label>
                    </div>
                </div>
                <p class="error" id="input1-err">错误信息-中文占位符</p>
                <div class="input-outer common">
                    <div class="input-data">
                        <input type="password" id="input2" required>
                        <div class="input-underline"></div>
                        <label id="input2-label">密码</label>
                    </div>
                </div>
                <p class="error" id="input2-err">错误信息-中文占位符</p>
                <div class="input-outer reg">
                    <div class="input-data">
                        <input type="password" id="input3" required>
                        <div class="input-underline"></div>
                        <label id="input3-label">密码</label>
                    </div>
                </div>
                <p class="error" id="input3-err">错误信息-中文占位符</p>
                <div class="input-outer reg">
                    <div class="input-data">
                        <input type="password" id="input4" required>
                        <div class="input-underline"></div>
                        <label id="input4-label">确认密码</label>
                    </div>
                </div>
                <p class="error" id="input4-err">错误信息-中文占位符</p>
            </div>
            <div id="login-btngroup">
                <button class="reverse login-group-btn" id="login-btn" onclick="login();">登录</button>
                <button id="github-btn" onclick="hrefTo('/oauth/github?to='+window.location.pathname);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                    </svg>
                </button>
                <a class="login-group-btn" id="reg-btn" href="javascript:switchWindow();">注册...</a>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
{% include 'scripts.html' %}