<div id="loader-background"></div>
<div class="loader"></div>
<script src="https://recaptcha.net/recaptcha/api.js?render=6LfgeG8pAAAAALgQp-eRF91eLXmmYuVUcExV_nl2"></script>
<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sweetalert2@9.js') }}"></script>
<script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment-zh-cn.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tippy-bundle.iife.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>